.form-wrap {
    padding: 20px;
    border: 1px solid gray;
    border-radius: 12px;
    width: 35%;
    margin: auto;
}

.forms {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}

.inp {
  padding: 5px;
  border-radius: 3px;
}

.add-btn {
    padding: 5px;
    border-radius: 6px;
    background-color: rgb(111, 182, 111);
    color: white;
}